<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation">
  <test name="Login">
  <classes>
     <class name="Login"/>
     <class name="Dashboard"/>
     <class name="data"/>
     <class name="Logout"/>
   </classes>
  </test> <!-- Test -->
</suite> <!-- Automation -->
